<script lang="ts">
    import { onMount } from "svelte";
    import { tick } from "../lib/utils";
    import { SpudWallet } from "../lib/wallet";
    import { navigate } from "../Router/router.service";

    let pass = "";
    let pk = "";
    let needPass = !SpudWallet.hasWallet();
    let balance = null;
    let needsOptIn = true;

    onMount(() => {
        if (!needPass) {
            pk = SpudWallet.getAddress();
            waitForBalanceThenCheckOptin();
        }
    });

    async function handlePassKeydown(e: KeyboardEvent) {
        if ((e.key === "Enter" || e.keyCode === 13) && pass.length >= 4) {
            needPass = false;
            pk = await SpudWallet.createWallet();
            waitForBalanceThenCheckOptin();
        }
    }

    async function waitForBalanceThenCheckOptin() {
        let accountInfo;
        while (balance === null || balance === 0) {
            await tick();
            accountInfo = await SpudWallet.accountInfo();
            balance = accountInfo.amount;
        }

        checkOptIn();
    }

    async function checkOptIn() {
        if (await SpudWallet.needsOptIn()) {
            await SpudWallet.optIn();
        }

        needsOptIn = false;

        navigate("/play");
    }
</script>

<h1>Welcome to SpicySpuds!</h1>

{#if needPass}
    <p>We need to create an account for you, please provide a password</p>
    <input type="password" bind:value={pass} on:keydown={handlePassKeydown} />
    {#if pass.length > 0 && pass.length < 4}
        <p>Minimum Length: 4</p>
    {/if}
{/if}

{#if pk}
    <p>Your account address: {pk}</p>

    {#if balance !== null}
        <p>Your account balance: {balance / 1e6} Algos</p>
        {#if balance === 0}
            <p>
                You need funds,
                <a
                    style="color: var(--accent-1); font-size: 1.5rem"
                    target="__blank"
                    href="https://bank.testnet.algorand.network?account={pk}"
                    >Click Here</a
                > to go get some testnet funds
            </p>
        {/if}
    {:else}
        <p>Please wait, checking your balance</p>
    {/if}

    {#if balance > 0 && needsOptIn}
        <p class="whole-margin-top">
            We're opting you into the application, this will cost .001 Algos
        </p>
    {/if}
{/if}
