<script lang="ts">
    import { onMount } from "svelte";
    import { Spuds } from "../lib/utils";
    import { SpudWallet } from "../lib/wallet";
    import { navigate } from "../Router/router.service";
    import YeetFeed from "./components/YeetFeed.svelte";
    import GameInfo from "./components/GameInfo.svelte";
    import HeaderBar from "./components/HeaderBar.svelte";

    let loading = true;
    let myAddr = "";
    let myTeam = "";

    onMount(async () => {
        myAddr = SpudWallet.getAddress();
        const state = await SpudWallet.getMyState();
        if (state.team === undefined) {
            navigate("/join");
            return;
        } else {
            loading = false;
        }

        myTeam = Spuds[state.team];
    });
</script>

<div class="bg-wrapper">
    <div class="game-wrapper shadow-5">
        {#if loading}
            <h1>Loading</h1>
        {:else}
            <div class="app">
                <HeaderBar />
                <GameInfo />
                <YeetFeed />
            </div>
        {/if}
    </div>
</div>

<style>
    .bg-wrapper {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .game-wrapper {
        width: 100vw;
        height: 100vh;
        max-width: 36rem;
        max-height: 60rem;
        background: var(--bg-1);
        overflow: hidden;
        margin: auto;
        border-radius: 2rem;
    }
    .app {
        display: grid;
        height: 100%;
        grid-template-rows: 3.5rem 15rem 1fr;
    }
</style>
