<script lang="ts">
    import { DialogService } from "../lib/dialog.service";

    import { Spuds } from "../lib/utils";
    import { SpudWallet } from "../lib/wallet";
    import { navigate } from "../Router/router.service";
    import YeetDialog from "./components/YeetDialog.svelte";

    let joiningGame = "";
    let sendingFirstSpud = false;
    let waitingForYeet = false;
    let team;

    const teams = Spuds.map(
        (s, i) => `${s}${["Team Potatoes", "Team Yams", "Team Aubergine"][i]}`
    );

    async function joinGame(teamToJoin: number) {
        team = teamToJoin;
        joiningGame = teams[teamToJoin];
        await SpudWallet.joinGame(teamToJoin);
        joiningGame = "";
        sendingFirstSpud = true;
    }

    async function yeet() {
        waitingForYeet = true;
        await DialogService.open(YeetDialog);

        navigate("/play");
    }
</script>

{#if !joiningGame && !sendingFirstSpud}
    <h1>Pick a team for this game</h1>
    <button on:click={() => joinGame(0)}>🥔 Team Potatoes</button>
    <button on:click={() => joinGame(1)}>🍠 Team Yams</button>
    <button on:click={() => joinGame(2)}>🍆 Team Aubergine</button>
{:else if joiningGame}
    <h1>Joining {joiningGame}</h1>
{:else if sendingFirstSpud}
    <h1>You're in the game!</h1>

    <h2 class="half-margin-top" style="font-size: 1rem;">
        Lets review some rules:
    </h2>
    <p class="whole-margin-top whole-margin-bottom">
        The objective of the game is simple, if you receive a spud you need to
        yeet it to another player as soon as possible! The longer you hold the
        spud the more penalties your team will receive to its score. Every yeet
        will contribute a small fee to the prize pool. When the game is
        complete, all members of the winning team can claim a proportion of the
        prize pool 💰
    </p>

    {#if !waitingForYeet}
        <h2>Its time to yeet your first spud</h2>

        <button on:click={yeet}>Yeet</button>
    {/if}
{/if}
