* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

:root {
    --accent-1: #5E60CE;
    --accent-2: #00bbf9;
    --accent-3: #80ffdb;

    --bg-0: #1B191F;
    --bg-1: #605D69;

    --button-bg: var(--bg-1);

    --button-focus: var(--accent-1);
    --input-focus: var(--accent-1);

    --action-card-space: 26rem;
}

input, textarea {
	-webkit-user-select: text !important;
	   -moz-user-select: text !important;
	    -ms-user-select: text !important;
	        user-select: text !important;
}

p, .selectable, .selectable * {
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}


h1, h2, h3, h4, h5, h6, p, body {
	margin: 0;
	padding: 0;
}

h1, h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h3.label, h4.label, h5.label, h6.label {
    color: #999;
    letter-spacing: 1.5px;
    text-transform: lowercase;
}

p, body {
    font-family: 'Roboto Mono', monospace;
}

html {
    overflow: hidden;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
    background: #2f2f2f;
    color: white;
}

button {
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    text-align: center;
    min-width: 8rem;
    padding: 0.75rem 1.5rem;
    background: var(--button-bg);
    font-family: inherit;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1rem 0;
}

input {
    background: #3336;
    border: none;
    padding: .5rem;
    width: 100%;
    border: 1px solid #9996;
    color: inherit;
    border-radius: 4px;
}

input:focus, input:active, button:focus, button:active {
    outline: none;
    border-color: var(--input-focus);
}

.vertical, .horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.horizontal.center, .vertical.center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.horizontal.wrap, .vertical.wrap {
    flex-wrap: wrap;
}

.vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.horizontal {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.flex {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 0px;
	        flex: 1 1 0;
}

.overflow-y {
	overflow-y: auto;
}

.shadow-1 {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
	-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.quarter-margin-left {
    margin-left: .25rem;
}
.quarter-margin-right {
    margin-right: .25rem;
}
.quarter-margin-top {
    margin-top: .25rem;
}
.quarter-margin-bottom {
    margin-bottom: .25rem;
}

.half-margin-left {
    margin-left: .5rem;
}
.half-margin-right {
    margin-right: .5rem;
}
.half-margin-top {
    margin-top: .5rem;
}
.half-margin-bottom {
    margin-bottom: .5rem;
}

.whole-margin-left {
    margin-left: 1rem;
}
.whole-margin-right {
    margin-right: 1rem;
}
.whole-margin-top {
    margin-top: 1rem;
}
.whole-margin-bottom {
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .game-wrapper {
        max-width: unset !important;
        max-height: unset !important;
        border-radius: unset !important;
    }
}
