<script lang="ts">
    import { Spuds } from "../../lib/utils";
    import { SpudWallet } from "../../lib/wallet";

    const state$ = SpudWallet.watchGameState();
</script>

<div class="gameInfo">
    <div class="vertical">
        <div class="half-margin-bottom" style="color: var(--bg-1);">
            Team Scores
        </div>
        <div class="horizontal score-bar">
            {#each Spuds as icon, index}
                <div
                    class:winning={$state$.adjustedScores[index] ===
                        $state$.highScore}
                    title="Score: {$state$.adjustedScores[index]}"
                    style="flex-grow: {$state$.adjustedScores[
                        index
                    ]}; background: var(--accent-{index + 1})"
                >
                    {icon}
                </div>
            {/each}
        </div>
        <h2>10.5 Algos</h2>
        <div class="prize-label half-margin-bottom">Prize Pool</div>
    </div>
</div>

<style>
    .gameInfo {
        background: var(--bg-0);
        padding: 2rem 0.5rem;
    }

    .score-bar {
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 5px;
        overflow: hidden;
    }

    .score-bar div {
        text-align: center;
    }

    .score-bar .winning {
        font-size: 1.75rem;
    }

    h2 {
        margin-top: 3rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .prize-label {
        color: var(--bg-1);
        text-align: center;
    }
</style>
