<script lang="ts">
    import { Spuds } from "../../lib/utils";
    import { SpudWallet } from "../../lib/wallet";

    const myState$ = SpudWallet.watchMyState();
</script>

<div class="header-bar horizontal center">
    <div class="app-name shadow-1">Spicy Spuds</div>
    <div class="flex" />
    <div class="chip horizontal shadow-2">
        <div>{($myState$?.algoBalance / 1e6).toFixed(3)} Algos</div>
        <div
            style="background: var(--accent-{$myState$?.team + 1})"
            title="Your team"
            class="my-team"
        >
            {Spuds[$myState$?.team]}
        </div>
    </div>
</div>

<style>
    .header-bar {
        padding: 0 0.5rem;
        overflow: hidden;
    }
    .my-team {
        height: 2.5rem;
        width: 2.5rem;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        line-height: 2.5rem;
        background: var(--bg-1);
    }
    .app-name {
        text-align: center;
        background: var(--bg-0);
        height: 100%;
        margin-left: -0.5rem;
        /* Not sure about this */
        margin-top: 1px;
        line-height: 3.5rem;
        padding-right: 3rem;
        padding-left: 1rem;
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    }
    .chip {
        line-height: 2.5rem;
        background: var(--bg-0);
        gap: 1rem;
        padding-left: 1rem;
        border-radius: 1.25rem;
    }
</style>
