<script lang="ts">
    import { onMount } from "svelte";
    import { SpudWallet } from "../../lib/wallet";
    import type { PlayerState } from "../../lib/wallet";
    import { DialogService } from "../../lib/dialog.service";
    import { forceUpdateYeetFeed } from "../../lib/yeetFeed";

    let state: PlayerState;
    let sending = false;
    let message = "";

    onMount(async () => {
        state = null;
        sending = false;
        state = await SpudWallet.getMyState();

        if (!state.spudBalance) DialogService.close();
    });

    async function yeet(team: 0 | 1 | 2) {
        sending = true;
        await SpudWallet.yeet({ team, myTeam: state.team }, message);
        await forceUpdateYeetFeed();
        DialogService.close();
    }
</script>

<div class="vertical">
    <h1>Yeet these spuds!</h1>
    {#if state && !sending}
        <p class="quarter-margin-bottom">Provide a message</p>
        <input
            placeholder="Yo, keep it appropriate..."
            type="text"
            bind:value={message}
        />
        {#if message.length > 24}
            <p>Keep messages short, less than 24 characters</p>
        {:else}
            <p class="half-margin-top">Select an opposing team:</p>
            {#if state.team !== 0}
                <button on:click={() => yeet(0)}>Yeet to 🥔</button>
            {/if}
            {#if state.team !== 1}
                <button on:click={() => yeet(1)}>Yeet to 🍠</button>
            {/if}
            {#if state.team !== 2}
                <button on:click={() => yeet(2)}>Yeet to 🍆</button>
            {/if}
        {/if}
    {:else if sending}
        <p>Sending your spud</p>
    {:else}
        <p>Loading</p>
    {/if}
</div>

<style>
    .vertical {
        padding: 1rem;
    }
</style>
