<script lang="ts">
    import { map, startWith, tap } from "rxjs";
    import { DialogService } from "../../lib/dialog.service";
    import { Spuds } from "../../lib/utils";
    import { SpudWallet } from "../../lib/wallet";
    import { getYeetFeed } from "../../lib/yeetFeed";
    import YeetDialog from "./YeetDialog.svelte";
    let feed = getYeetFeed().pipe(
        map((ys) => ys.reverse()),
        startWith([])
    );
    let myBalance = SpudWallet.watchMyState().pipe(map((s) => s.spudBalance));

    async function yeet() {
        await DialogService.open(YeetDialog).catch(console.error);
    }
</script>

<div class="yeets overflow-y vertical">
    {#each $feed as item, index (item.id)}
        <div class="horizontal yeet-msg shadow-1 center">
            <div class="vertical flex">
                <p class="sender">{item.sender.substring(0, 16)}</p>
                <p class="msg">{item.message}</p>
            </div>
            {#if index < $myBalance}
                <button on:click={() => yeet()}>{Spuds[item.fromTeam]}</button>
            {/if}
        </div>
        <div class="horizontal confirmed-round">
            <div class="flex" />
            <p title="Round {item.txn['confirmed-round']}">
                {item.txn["confirmed-round"]}
            </p>
        </div>
    {:else}
        <p class="whole-margin-top" style="text-align: center;">
            Any received spuds will display in this list along with a message.
            Keep an eye out, as soon as you receive a spud be sure to yeet it!
        </p>
    {/each}
</div>

<style>
    .yeets {
        padding: 0.5rem;
        padding-top: 1.5rem;
        gap: 1rem;
    }
    .yeet-msg {
        background: #333;
        padding: 0.5rem;
    }

    .sender {
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        background: var(--bg-0);
        padding: 0.5rem;
        justify-self: flex-start;
        align-self: flex-start;
        color: #ddd;
    }
    .msg {
        margin-top: 0.5rem;
    }
    button {
        margin: 0;
        padding: 0;
        height: 2rem;
        min-width: unset;
        width: 4rem;
    }
    .confirmed-round {
        color: #333;
        margin-top: -1rem;
    }
</style>
