<script lang="ts">
    import { onMount } from "svelte";
    import Router from "./Router/Router.svelte";
    import Routes from "./Routes";

    let app: HTMLDivElement;
    let router: Router;

    onMount(() => {
        router = new Router({
            target: app,
            props: { routes: Routes },
        });
    });
</script>

<div id="app" bind:this={app} class="vertical" />
<div id="dialogPortal">
    <div class="shadow-3" id="dialogOutlet" />
</div>

<style>
    #app {
        height: 100%;
    }

    #dialogPortal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 100;
        display: flex;
        flex-direction: column;
    }

    #dialogOutlet {
        margin: auto;
        width: 90vw;
        height: 90vh;
        max-width: 24rem;
        max-height: 36rem;
        display: none;
        background: #333;
        border-radius: 2rem;
    }

    :global(#dialogPortal.open) {
        pointer-events: all;
        background: rgba(0, 0, 0, 0.56);
    }

    :global(#dialogPortal.open #dialogOutlet) {
        display: block;
    }
</style>
